<p>Olá <%= @resource.email %>!</p>

<p>Alguém requesitou um link para alterar a sua senha. Você pode fazer isso através do link abaixo:.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requesitou isso, por favor ignore este e-mail.</p>
<p>Sua senha não será alterara a menos que acesse o link e cria uma nova senha.</p>
